/.idea
/.vscode
/vendor
*.log
thinkphp
.env
.DS_Store
.settings
.project
.buildpath
composer.lock

data/log/*
log/*
mobile/log/*
newapi/log/*
weixin/data/log/*
tongcheng/log/*

images/*
data/shop_logo/*
data/qrcode/*
data/afficheimg/*
data/upload/*
data/voucher_logo/*

temp/caches/*
temp/compiled/*
temp/query_caches/*
temp/static_caches/*
weixin/data/cache/compiled/*
weixin/data/cache/static_caches/*

orderreceive/*

